fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
transformers==4.40.0
torch==2.3.0
torchaudio==2.3.0
datasets==2.19.0
accelerate==0.30.0
scikit-learn==1.4.2
pandas==2.2.2
huggingface_hub==0.23.0
soundfile==0.12.1
librosa==0.10.2
httpx==0.27.0
python-dotenv==1.0.1
google-generativeai==0.5.4
Pillow==10.3.0
opencv-python-headless==4.9.0.80
evaluate==0.4.2
numpy==1.26.4